<div class="previous-page-button">
  <PixActionButton
    @icon="arrow-left"
    aria-label={{@ariaLabel}}
    class="icon-button previous-page-button__return-button"
    @triggerAction={{this.goToPage}}
    @withBackground={{false}}
  />
  <h1 class="back-title">
    {{yield}}
  </h1>
</div>
